@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 60px;
  background: linear-gradient(360deg, #ff6005 0%, #fff951 139.84%);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: linear-gradient(360deg, #ff6005 0%, #fff951 139.84%);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px 20px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: start;

  top: 120px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 0 0 66px;

  border-radius: 0px 0px 20px 20px;
  gap: 32px;
  background: rgba(242, 112, 0, 1);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
.navigation__link:hover,
.navigation__link:focus {
  font-weight: 700;
  font-size: 20px;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 64px;
    padding: 10px 0px 10px 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 50px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 880px;
  padding: 100px 20px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/Hero.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  width: 335px;
  height: 91px;
}

.home-text {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 20px;
}
.home-text-two {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.home__google-button_link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.home-text-three {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(250, 251, 8, 1);
  padding: 20px 0 40px;
}
@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 617px;
    padding: 120px 88px 0px;
    background-image: url("/image/home/Hero\ \(1\).png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 579px;
  }
  .home-title {
    width: 568px;
    height: 154px;
  }

  .home-text {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;

    padding: 16px 0 0;
  }
  .home-text-two {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
  .home-text-three {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;

    padding: 24px 0 32px;
  }
}
.about {
  padding: 60px 20px 0px;
  margin: auto;
  width: 375px;
  height: 1419px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/about/About\ the\ Game.png");
}

.about-title {
  font-family: Fredoka One;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}

.about-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 32px 0px 0;
}

.why-list {
  margin: auto;
  margin-top: 360px;
  display: flex;
  flex-direction: column;
  width: 335px;
  padding-top: 28px;
  padding-right: 20px;
  padding-bottom: 28px;
  padding-left: 20px;
  gap: 20px;
  border-radius: 40px;
  background: rgba(240, 217, 0, 1);
}

.why-text-bold {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(53, 53, 53, 1);
  padding: 0 20px;
}
.why-text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(53, 53, 53, 1);
}
.why-text-two {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 32px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 88px 88px 0px;
    margin: auto;
    width: 1440px;
    height: 807px;
    background-image: url("/image/about/About\ us.png");
  }

  .about-title {
    font-family: Fredoka One;
    font-weight: 400;
    font-size: 44px;
    line-height: 48px;
    letter-spacing: 0%;

    text-align: center;
  }
  .about-title-two {
    text-align: left;
    padding-left: 52px;
  }
  .about-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    gap: 30px;
    padding: 44px 0px 0;
    width: 712px;
    margin-left: 52px;
  }

  .why-list {
    margin: auto;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1264px;
    padding-top: 32px;
    padding-right: 30px;
    padding-bottom: 32px;
    padding-left: 30px;
    gap: 44px;
    row-gap: 24px;
  }

  .why-text-bold {
    width: 1204px;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;

    padding: 0px;
  }
  .why-text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    width: 372px;
    padding-top: 0px;
  }
  .why-text-two {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 44px;
  }
}
.reviews {
  width: 375px;
  height: 622px;
  margin: auto;
  padding: 60px 0px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/image/reviews/Reviews.png");
}

.reviews-list {
  width: auto;
  padding-top: 40px;
  padding-bottom: 36px;
  margin: auto;
}
.reviews-item {
  margin: 0 5px;
  width: 335px;
  padding-top: 28px;
  padding-right: 20px;
  padding-bottom: 28px;
  padding-left: 20px;
  border-radius: 12px;

  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(252, 194, 1, 1);
}
.reviews-item-top {
  display: flex;
  gap: 24px;
  align-items: center;
}
.reviews-text-bold {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(46, 55, 69, 1);
}
.reviews-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(60, 61, 66, 1);
  padding-top: 12px;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    height: 672px;
    padding: 88px 0px 0;
    background-image: url("/image/reviews/Reviews\ \(1\).png");
  }
  .reviews-list {
    width: auto;
    padding-top: 60px;
    padding-bottom: 36px;
    margin: auto;
  }
  .reviews-item {
    margin: 0 20px;
    width: 364px;
  }
  .reviews-item-top {
    display: flex;
    gap: 24px;
    align-items: center;
  }
}

.gallery {
  width: 375px;
  height: 816px;
  margin: auto;
  padding: 60px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/gallery/Gallery\ \(1\).png");
}

.gallery__list {
  width: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: auto;
}
.gallery__item {
  height: 516px;
  width: 320px;
  overflow: hidden;
  position: relative;
  margin: 0 5px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.gallery-button:hover {
  scale: 120%;
}
@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    height: 992px;

    margin: auto;
    padding: 88px 0 0;
    background-image: url("/image/gallery/Gallery.png");
  }

  .gallery__item {
    height: 612px;
    width: 380px;
    margin: 0 20px;
  }

  .gallery__list {
    width: auto;
    padding: 60px 0 40px;
  }
}
.features {
  width: 375px;
  margin: auto;
  padding: 60px 20px;
  background: linear-gradient(177.56deg, #21619b 2.05%, #2695ff 99.59%);
}

.features-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.features-item {
  display: flex;
  align-items: start;
  gap: 24px;
}
.features-text-bold {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.features-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    margin: auto;
    padding: 88px;
  }

  .features-list {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
  .features-item {
    display: flex;
    align-items: start;
    gap: 24px;
    width: 580px;
  }
  .features-item-two {
    margin-left: 42px;
  }
  .features-img {
    width: 68px;
    height: 58px;
  }
  .features-text-bold {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
  }
  .features-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
  }
}
.footer {
  background: rgba(6, 15, 123, 1);

  color: #ffffff;
  padding: 44px 0px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 4px;
}
.footer-text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 40px 0px;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  .footer-text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .footer-copyright {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
  }
}
.policy-terms-container {
  flex-direction: column;
  align-items: start;
  padding: 120px 20px 60px;
  color: rgba(25, 25, 25, 1);
}
.policy-terms-title {
  font-family: Fredoka One;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;

  text-transform: uppercase;
}

.policy-terms-text {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 140px 88px 80px;
  }
  .policy-terms-title {
    font-family: Fredoka One;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  border-radius: 20px;
  padding: 30px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.18);

  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(16, 24, 47, 1);
}
.cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.cookie-button {
  border: none;

  padding-top: 7px;
  padding-right: 31px;
  padding-bottom: 7px;
  padding-left: 31px;
  border-radius: 50px;
  background: rgba(16, 24, 47, 1);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}
#accept-cookies {
  background: rgba(244, 127, 41, 1);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    width: 907px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 20px 50px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
